* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #555;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
button {
    display: block;
    margin: 50px auto 50px;
    border: 5px solid cadetblue;
    background-color: #fff;
    padding: 20px 50px;
    font-size: 22px;
}
section {
    margin: 10px;
    text-align: center;
    font-size: 26px;
}