* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 5vw;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #555;
}
.active {
    background-color: black;
    color: white;
}
label, input {
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    margin-right: 20px;
}
div {
    border: 2px solid black;
    font-size: 40px;
}